{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %}{{ main.title }}{% endblock %}

{% block navigation %}
    <li class="view-full">
        {% if gallery.top_album_id == main.id %}
            <a href="{% url 'slideshow.index' %}">Slideshow</a>
        {% else %}
            <a href="{% url 'slideshow.album' main.id %}">Slideshow</a>
        {% endif %}
    </li>
{% endblock %}

{% block main %}
    <div class="album-title">
        <h2>{{ main.title }}</h2>

        <p class="description">{{ main.description|linebreaksbr }}</p>
    </div>

    <ul class="album">
        {% for item in albums %}
            <li class="preview">
                <div class="preview-body" data-url="{% url 'core.album' item.id %}">
                    {% if item.thumbnail_id %}
                        <img data-src="{% url 'core.download' 'small' item.thumbnail_id %}">
                    {% else %}
                        <img src="{% static 'core/img/album.png' %}" alt="" style="opacity: 0.8;">
                    {% endif %}

                    <div class="carousel-caption">
                        {% if item.visibility == item.PRIVATE or item.visibility == item.HIDDEN %}
                            <i class="icon-white icon-eye-open pull-right"
                               title="{{ item.get_visibility_display }} album"></i>
                        {% endif %}
                        <h4>{{ item.title }}</h4>

                        <p class="carousel-description">
                            <span class="time">{{ item.time|date:"d M Y" }}<br></span>
                            <span class="text">{{ item.description|linebreaksbr }}</span>
                        </p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="album-years">
        {% if gallery.top_album_id == main.id %}
            {% for item in years %}
                <a href="{% url 'core.home' %}?year={{ item|date:"Y" }}"
                   class="{% if year_filter == item.year %}selected{% endif %}">{{ item|date:"Y" }}</a>
            {% endfor %}
            {% if year_filter %}
                <a href="{% url 'core.home' %}">Reset</a>
            {% endif %}
        {% else %}
            {% for item in years %}
                <a href="{% url 'core.album' main.id %}?year={{ item|date:"Y" }}"
                   class="{% if year_filter == item.year %}selected{% endif %}">{{ item|date:"Y" }}</a>
            {% endfor %}
            {% if year_filter %}
                <a href="{% url 'core.album' main.id %}">Reset</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block media %}
    {{ block.super }}
    <script id="shadowbox.js" src="{% static 'core/js/core.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery('.preview-body').click(function (e) {
            var url = jQuery(this).attr('data-url');
            if (e.ctrlKey) {
                window.open(url, '_blank').focus();
            } else {
                location.href = url;
            }
        });

        core.imageLoading();
    </script>
{% endblock %}