{% extends 'core/base.html' %}

{% block title %}{{ album.title }}{% endblock %}

{% block main %}
    <div class="album-title">
        <h2>{{ album.title }}</h2>

        <p class="description pull-left">{{ album.description|linebreaksbr }}</p>

        <p class="pull-right">
            <a href="{% url 'core.download' 'full' image.id %}">Download full image</a>
        </p>
        <br class="clear">
    </div>

    <div class="image">
        <img src="{% url 'core.download' 'big' image.id %}" alt="">
    </div>
{% endblock %}