{% extends 'core/base.html' %}

{% block title %}{{ album.title }}{% endblock %}

{% block main %}
    <div class="album-title">
        <h2>{{ album.title }}</h2>

        <p class="description">{{ album.description|linebreaksbr }}</p>
    </div>


    <div class="video">
        <h3>{{ video.title }}</h3>

        <iframe src="{{ video.url }}" width="720" height="480" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

        {% if video.description %}
            <div class="caption">
                <h5>Description</h5>

                <p>{{ video.description|linebreaksbr }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}