# base
django>=1.6,<1.7
django-rq
djangorestframework>=2.3,<2.4
django-filter
exifread
redis
pytz

# build
pillow
psycopg2

# develop
django-debug-toolbar
fabric
mock
mockredispy
sphinx