h1, h2, h3, h4, h5, h6 {
    color: #AAA;
}

a:hover {
    text-decoration: none
}

input {
    color: #AAA;
    background-color: #333;
}

body {
    padding-top: 60px;
    background-color: black;
    color: #999;
    overflow-y: scroll;
}

#main {
    background-image: url(../img/bg.jpg);
}

.border {
    padding: 16px 16px 64px 20px;
    border: 1px solid #444;
    border-top-width: 2px;
}

.login {
    margin-top: 100px;
    box-shadow: inset 0 0 100px black;
}

.video {
    width: 720px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 3px 19px 16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 3px 19px 16px rgba(0, 0, 0, 0.75);
    box-shadow: 0 3px 19px 16px rgba(0, 0, 0, 0.75);
}

.image {
    border: none;
    text-align: center;
}

.album {
    list-style: none;
    margin: 0 2px 0 -5px;
}

.album-title {
    color: #DDD;
}

.preview {
    float: left;
    position: relative;
    width: 25%;
    padding-bottom: 25%;

}

.preview-body {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    /*overflow: hidden;*/
    border: 1px solid #444;
    padding: 6px;
}

.preview-body img {
    width: 100%;
}

.preview-body .video-tag {
    position: absolute;
    opacity: 0.65;
    top: -24px;
    right: -24px;
    height: 64px;
    width: 64px;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.preview-body:hover .video-tag {
    opacity: 0.9;
}

.preview .caption {
    position: absolute;
    opacity: 0;
    bottom: 4px;
    right: 6px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.preview:hover .caption {
    opacity: 1;
}

.preview .carousel-description {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
}

.preview .carousel-caption {
    top: 0;
    bottom: auto;
}

.preview:hover .carousel-description {
    height: 100px;
    margin-bottom: 2px;
}

@media only screen and (max-width : 480px) {
    /* Smartphone view: 1 tile */
    .preview {
        width: 100%;
        padding-bottom: 100%;
    }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .preview {
        width: 50%;
        padding-bottom: 50%;
    }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .preview {
        width: 33.3%;
        padding-bottom: 33.3%;
    }
}