{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %}Slideshow{% endblock %}

{% block main %}
    <div class="message">
        <h1>Slideshow</h1>

        <p>Click to start slide show</p>

        <button onclick="start(link);">Start</button>
    </div>
{% endblock %}

{% block media %}
    {{ block.super }}
    <link id="shadowbox.css" href="{% static 'core/css/shadowbox.css' %}" rel="stylesheet" type="text/css">
    <script id="shadowbox.js" src="{% static 'core/js/shadowbox.min.js' %}" type="text/javascript"></script>
    <script id="shadowbox.js" src="{% static 'core/js/core.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        var link = "{{ link }}";

        function start(link) {
            var START = true;
            var settings = {
                overlayOpacity: 0.95,
                viewportPadding: 32,
                displayNav: false,
                //enableKeys: false,
                fadeDuration: 1.0,
                resizeDuration: 0.4,
                onClose: function () {
                    START = false;
                }
            };
            Shadowbox.init(settings);

            function loadImage() {
                jQuery.ajax({
                    url: link,
                    dataType: 'json',
                    success: function (data) {
                        var a = document.createElement('a');
                        a.href = data.next;
                        a.rel = 'shadowbox[videos]';
                        a.title = data.title;
                        var obj = Shadowbox.makeObject(a);
                        Shadowbox.gallery = [obj];
                        if (Shadowbox.isOpen()) {
                            Shadowbox.change(0);
                        } else {
                            Shadowbox.open(obj);
                        }
                    }
                });
            }

            //loadImage();

            var interval = window.setInterval(function () {
                if (START == true) loadImage();
            }, 10000);

            jQuery('body').delegate('#sb-body', 'click', function (e) {
                loadImage();
            });

            loadImage();
        }
    </script>
{% endblock %}