{% extends 'profile/base.html' %}

{% block tabs %}
    <div id="images">
        <div class="row-fluid">
            <div class="span12">
                <a href="#" id="images-button-save" class="btn btn-oblong pull-right">Save</a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <form>
                    <label>Find album</label>
                    <label for="find-album"></label><input id="find-album" autocomplete="off" data-provide="typeahead" type="text" class="span12">
                </form>
            </div>
            <div class="span6">
                <form>
                    <label for="storage-path">File path</label>
                    <input id="storage-path" type="text" class="span12" value="">
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <p style="margin-bottom: 16px;">Select image and click <i class="icon-white icon-user"></i> to set as avatar,
                    <i class="icon-white icon-picture"></i> to set as album thumbnail,
                    <i class="icon-white icon-remove"></i> to delete from album.
                    Do not forget to save changes.
                </p>
                <ul id="album-thumbnails" class="thumbnails"></ul>
            </div>
            <div class="span6">
                <p style="margin-bottom: 8px;">Click <strong>'back'</strong> image to return to parent directory.
                    Click to image to add it to gallery. Do not forget to save changes.
                </p>
                <ul id="storage-thumbnails" class="thumbnails"></ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block media %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}profile/js/bootstrap-typeahead.js" type="text/javascript"></script>

    <script type="text/javascript">
        var active_album = { "id":"id" };
        active_tab( 'images' );

        $( document ).ready( function () {
            load_galleries();
            load_storage_images( '' );

            $( '#images-button-save' ).click( function (e) {
                var images = $( '#album-thumbnails .changed' );
                for (var i = 0; i < images.length; i++) {
                    var item = jQuery( images[i] );
                    var path = item.attr( 'id' ).substring( 14 );
                    add_image( active_album["id"], path );
                }
                var images2 = $( '#album-thumbnails .hide' );
                for (var i = 0; i < images2.length; i++) {
                    var item = jQuery( images2[i] );
                    var id = item.attr( 'id' ).substring( 14 );
                    remove_image( id );
                }
                load_galleries_images( active_album["id"] )
            } );

            $( '.storage-thumbnails-dir' ).live( 'click', function () {
                var path = jQuery( this ).attr( "id" ).substring( 4 );
                load_storage_images( path );
            } );
            $( '.gallery-thumbnails-image .icon-remove' ).live( 'click', function () {
                var item = jQuery( this ).parents( '.gallery-thumbnails-image' )[0];
                jQuery( item ).addClass( 'hide' );
            } );
            $( '.gallery-thumbnails-image .icon-picture' ).live( 'click', function () {
                var item = jQuery( this ).parents( '.gallery-thumbnails-image' )[0];
                var id = jQuery( item ).attr( 'id' ).substring( 14 );
                set_thumbnail( active_album["id"], id );
            } );
            $( '.gallery-thumbnails-image .icon-user' ).live( 'click', function () {
                var item = jQuery( this ).parents( '.gallery-thumbnails-image' )[0];
                var id = jQuery( item ).attr( 'id' ).substring( 14 );
                update_avatar( id );
            } );
            $( '.storage-thumbnails-image' ).live( 'click', function () {
                var item = jQuery( this ).clone();
                jQuery( this ).remove()
                item = jQuery( item ).addClass( 'changed' );
                $( '#album-thumbnails' ).append( item )
            } );

            $( '#storage-path' ).keydown( function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                }
            } );

            function load_gallery_image() {
                var title = jQuery( '.typeahead .active' ).attr( 'data-value' );
                var json = '{ "title":"' + title + '" }';
                $.ajax( {
                    url:'/api/gallery/get/?data=' + json,
                    dataType:'json',
                    success:function (data) {
                        var id = data['id'];
                        active_album["id"] = id;
                        console.log( 'autocomplete ' + id );
                        load_galleries_images( id );
                    }
                } );
            }

            $( '#find-album' ).change( function (e) {
                load_gallery_image()
            } );

            $( '#find-album' ).keydown( function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    load_gallery_image();
                }
            } );
        } );
    </script>
{% endblock %}