{% extends 'profile/base.html' %}
{% load staticfiles %}

{% block tabs %}
    <div>
        <div class="row-fluid">
            <div class="span12">
                <div class="pull-right">
                    <a href="{% url profile.gallery.action 'del' %}?id={{ gallery.id }}" class="btn btn-oblong btn-inverse">Remove</a>
                    <a href="{% url profile.gallery.action 'unset' %}?id={{ gallery.id }}" class="btn btn-oblong btn-inverse">Unset parent</a>
                    <a href="{% url profile.gallery.action 'cache' %}?id={{ gallery.id }}" class="btn btn-oblong btn-inverse">Pre cache</a>
                    <a href="#" class="btn btn-oblong btn-inverse" onclick="document.getElementById('gallery-form').submit()">Save</a>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="admin-list">
                    <form action="{% url profile.gallery.action 'add' %}" method="get">{% csrf_token %}
                        <label>Add new album</label>
                        <input type="text" name="name" class="span8">
                        <button type="submit" class="btn">Add</button>
                    </form>
                    <p>
                        To select album just click to it name.
                        If you want add album as sub album, select album and click <strong>+</strong> of a parent.
                    </p>
                    <ul class="unstyled">
                        {% for node in galleries %}
                            {% include "profile/inline_li.html" %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="span6 data-table">
                <form id="gallery-form" method="post">{% csrf_token %}
                    <table class="table pull-right">
                        <thead>
                        <tr>
                            <th width="20%">Name</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ form.title }}</td>
                        </tr>
                        <tr>
                            <td>Is private</td>
                            <td>{{ form.private }}</td>
                        </tr>
                        <tr>
                            <td>Thumbnail</td>
                            <td>
                                <i class="help-block">To change thumbnail go to "<a href="{% url profile.images %}">Gallery images</a>"</i>
                                <a href="#" class="thumbnail thumbnail-admin preview ">
                                    {% if gallery.thumbnail %}
                                        <img src="{% url core.download user_url 'small' gallery.thumbnail_id %}" alt="">
                                    {% else %}
                                        <img src="{% static "core/img/gallery.png" %}" alt="">
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ form.description }}</td>
                        </tr>
                        <tr>
                            <td>Time</td>
                            <td>{{ form.time }}</td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
