{% extends 'profile/base.html' %}
{% load staticfiles %}

{% block tabs %}
    <div id="images">
        <div class="row-fluid">
            <div class="span12">
                <a href="#" id="images-button-save" class="btn btn-oblong btn-inverse pull-right" onclick="document.getElementById('images-form').submit()">Save</a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <form id="gallery-form" method="get">
                    <input type="hidden" name="p" value="{{ folder.path }}">
                    <label for="find-album">Find album</label>
                    <select id="find-album" name="g" class="span6" onchange="document.getElementById('gallery-form').submit()">
                        <option value="0">Select gallery</option>
                        {% for item in galleries %}
                            <option value="{{ item.id }}" {% if item.id == gallery_id %}selected{% endif %}>{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <form id="images-form" method="post">{% csrf_token %}
                    › <a href="{% url profile.images %}?g={{ gallery_id }}" class="label label-inverse">Home</a>
                    {% for key,value in folder.split_path %}
                        {% if not forloop.last %}
                            › <a href="{% url profile.images %}?g={{ gallery_id }}&p={{ value }}" class="label label-inverse">{{ key }}</a>
                        {% else %}
                            › <p class="label label-inverse">{{ key }}</p>
                        {% endif %}
                    {% endfor %}

                    <ul class="thumbnails">
                        <li class="storage-thumbnails-dir">
                            <a href="{% url profile.images %}?g={{ gallery_id }}&p={{ folder.back }}" class="thumbnail thumbnail-admin">
                                <img src="/static/core/img/gallery.png" alt="">

                                <p class="caption-abs">back</p>
                            </a>
                        </li>

                        {% for item in folder.dirs %}
                            <li>
                                <a href="{% url profile.images %}?g={{ gallery_id }}&p={{ item.path }}" class="thumbnail thumbnail-admin">
                                    <img src="/static/core/img/gallery.png" alt="">

                                    <p class="caption-abs">{{ item.name }}</p>
                                </a>
                            </li>
                        {% endfor %}

                        {% for item in folder.files %}
                            <li>
                                <a class="thumbnail thumbnail-admin">
                                    <input type='checkbox' name="images" class="caption-checkbox" value="{{ item.path }}" {% if item.checked %}checked{% endif %}>
                                    <img src="{% url profile.image %}?p={{ item.path }}" alt="">

                                    <p class="caption-abs">{{ item.name }}</p>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </form>
            </div>
        </div>
    </div>
{% endblock %}