{% extends 'profile/base.html' %}
{% load staticfiles %}

{% block tabs %}
    <div id="videos">
        <div class="row-fluid">
            <div class="span12">
                <a href="#" id="video-button-save" class="btn btn-oblong btn-inverse pull-right" onclick="document.getElementById('video-form').submit()">Save</a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <form id="gallery-form" method="get">
                    <label for="find-album">Find album</label>
                    <select id="find-album" name="g" class="span12" onchange="document.getElementById('gallery-form').submit()">
                        <option value="0">Select gallery</option>
                        {% for item in galleries %}
                            <option value="{{ item.id }}" {% if item.id == gallery_id %}selected{% endif %}>{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="span6">
                <form id="add-video-form" method="post">
                    <label for="video-input-add">Add new video ID</label>
                    <input id="video-input-add" type="text" name="add-video" class="span10">
                    <input type="hidden" name="g" value="{{ gallery_id }}">
                    <button id="video-button-add" type="button" class="btn btn-inverse" onclick="document.getElementById('add-video-form').submit()">Add</button>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <ul class="video-list">
                    {% for video in videos %}
                        <li class="{% if video.id == video_id %}active{% endif %}">
                            <a href="{% url profile.videos %}?g={{ gallery_id }}&v={{ video.id }}">{{ video.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="span6 data-table">
                <form id="video-form" method="post">{% csrf_token %}
                    <ul class="unstyled">
                        {% for error in form.non_field_errors %}
                            <li class="error">{{ error|escape }}</li>
                        {% endfor %}
                        {% for error in form.uid.errors %}
                            <li class="error">ID: {{ error|escape }}</li>
                        {% endfor %}
                        {% for error in form.title.errors %}
                            <li class="error">Title: {{ error|escape }}</li>
                        {% endfor %}
                        {% for error in form.type.errors %}
                            <li class="error">Type: {{ error|escape }}</li>
                        {% endfor %}
                        {% for error in form.description.errors %}
                            <li class="error">Description: {{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                    <table class="table pull-right">
                        <thead>
                        <tr>
                            <th width="20%">Name</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>ID</td>
                            <td>{{ form.uid }}</td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>{{ form.type }}</td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>{{ form.title }}
                            </td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ form.description }}</td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}