{% extends 'core/base.html' %}

{% block title %}{{ album.title }}{% endblock %}

{% block main %}
    <div class="message">
        <h1>Archive</h1>

        <p>Waite a little while images are packing</p>

        <div id="status" style="color: seagreen;">Waiting..</div>
    </div>
{% endblock %}


{% block media %}
    {{ block.super }}
    <script type="text/javascript">
        var link = "{{ link }}";
        var redirect = "{{ redirect }}";
        var interval = window.setInterval(function () {
            jQuery.ajax({
                url: link,
                dataType: 'json',
                success: function (data) {
                    if (data.status == 'DONE') {
                        jQuery('#status').text('100%');
                        window.clearInterval(interval);
                        window.location = redirect;
                    } else if (data.status == 'PROCESSING') {
                        jQuery('#status').text('' + data.progress + '%');
                    } else if (data.status == 'NONE') {
                        jQuery('#status').text('Waiting..');
                    }
                }
            });
        }, 1000);
    </script>
{% endblock %}