input, textarea {
    color: #AAA;
    background-color: #222;
}

#admin .nav-tabs > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#admin .nav-tabs > li > a:hover {
    background-color: #333;
    border-color: #666 #666 #666
}

#admin .nav > li > a:hover {
    text-decoration: none;
    background: none;
    color: #999;
}

#admin .nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
    color: white;
    background-color: #333;
    border: 1px solid #777;
    border-bottom-color: transparent;
    border-radius: 0;
    cursor: default;
}

/*ALBUM TREE*/
.admin-list {
    margin-left: 4px;
    margin-right: 10px;
}

.admin-list ul {
    margin-left: 18px;
    font-size: 16px;
}

.admin-list > ul {
    margin-left: 0;
}

.admin-list li {
    padding: 2px 0;
    margin-right: 10px;
}

.admin-list a {
    color: #999;
}

.admin-list .active > span {
    font-weight: bold;
    color: #BBB;
}

.admin-list ul .btn {
    padding: 1px 4px 2px 4px;
    line-height: 12px;
}

.thumbnail-admin {
    position: relative;
    border-style: none;
    height: 200px;
    width: 200px;
}

/* ALBUM TABLE*/
#admin label {
    color: #999;
}

#admin input {
    background-color: #333;
    margin-bottom: auto;
}

#admin select {
    background-color: #333;
}

.data-table input {
    width: 100%;
}

.data-table textarea {
    min-height: 128px;
    width: 100%;
}

#images form {
    padding-right: 8px;
}

#images .thumbnails {
    margin-left: 0;
}

#images .thumbnail-admin {
    border-style: none;
    padding: 0;
    margin-bottom: 6px;
    height: 150px;
    width: 150px;
}

#images .caption {
    font-size: 11px;
    text-align: center;
    padding-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#images .caption-abs {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    font-size: 11px;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -10px;
    overflow: hidden;
}

#images .caption-checkbox {
    position: absolute;
    margin: 2px;
}

.btn-oblong {
    padding: 1px 18px 1px;
}

#gallery-parents .btn {
    padding: 1px 10px 0;
}

#gallery-parents > li {
    padding-bottom: 4px;
}

.typeahead {
    background-color: #555;
    max-width: 430px;
}

.typeahead a {
    color: #AAA;
}

.gallery-thumbnails-image .controls {
    position: absolute;
    top: -6px;
    right: -8px;
}

#admin .video {
    width: 320px;
}