.row-value {
    font-size: 13px;
}

.select-all, deselect-all {
    margin-left: 20px;
}

.thumbnails {
    list-style: none;
}

.thumbnails li {
    position: relative;
    float: left;
    margin: 4px;
    list-style: none;
}

.thumbnails .caption {
    position: absolute;
    font-size: 11px;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    color: #AAA;
}

.thumbnails .image .caption {
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
}

.thumbnails::after {
    clear: both;
}

.thumbnail img {
    width: 150px;
    height: 150px;
}

.thumbnail input[type=checkbox],
.thumbnail input[type=radio] {
    position: absolute;
    right: 0;
    margin: 2px;
}

.thumbnails li:hover .caption {
    opacity: 1;
}

.preview {
    width: 32px;
    height: 32px;
}

.preview:hover {
    width: auto;
    height: auto;
}
